<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/ihouse.css}">
</head>

<body>
<!-- 通用头部 -->
<div th:replace="commons/common::header(activeUri='publish')"></div>
<div class="jumbotron pb-3">
    <div class="container text-center">
        <h1 class="display-4">发布出租房源</h1>
        <hr class="my-4">
    </div>
</div>
<div class="container">
    <div class="row">
        <label class="col-sm-1 col-md-2 col-lg-3"></label>
        <div class="col-sm-10 col-md-8 col-lg-6">
            <input type="hidden" id="userId" name="userId" th:value="${#ctx.session.user.getId()}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">所在城市</label>
                <div class="col-sm-8">
                    <div style="width: 80px; float: left;">
                        <select name="province" id="province" class="form-control">
                            <option value="山西">山西</option>
                        </select>
                    </div>
                    <div style="width: 80px;float: left;margin-left: 20px;">
                        <select name="city" id="city" class="form-control">
                            <option value="太原">太原</option>
                            <option value="长治">长治</option>
                            <option value="运城">运城</option>
                            <option value="大同">大同</option>
                            <option value="晋中">晋中</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="houseDir" class="col-sm-2 col-form-label">所在地区</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="houseDir" name="houseDir" value="尖草坪区">
                </div>
            </div>

            <div class="form-group row">
                <label for="houseAddress" class="col-sm-2 col-form-label">详细地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="houseAddress" id="houseAddress"
                           placeholder="xxx小区xx栋xx单元xx号">
                </div>
            </div>
            <div class="form-group row">
                <label for="houseFloor" class="col-sm-2 col-form-label">楼层</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="houseFloor" id="houseFloor">
                </div>
            </div>
            <div class="form-group row">
                <label for="housePrice" class="col-sm-2 col-form-label">期望租金</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" class="form-control" name="housePrice" id="housePrice"
                                   placeholder="请输入您期望租出的价格">
                        </div>
                        <div class="col-3 col-form-label">元/月</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="houseMode" class="col-sm-2 col-form-label">出租方式</label>
                <div class="col-sm-10">
                    <select class="form-control" name="houseMode" id="houseMode">
                        <option value="1">整租</option>
                        <option value="2">合租</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="houseType" class="col-sm-2 col-form-label">户型</label>
                <div class="col-sm-10">
                    <select class="form-control" name="houseType" id="houseType">
                        <option value="一户型">一户型</option>
                        <option value="二户型">二户型</option>
                        <option value="三户型">三户型</option>
                        <option value="四户型">四户型</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="houseOrientation" class="col-sm-2 col-form-label">朝向</label>
                <div class="col-sm-10">
                    <select class="form-control" name="houseOrientation" id="houseOrientation">
                        <option value="东">东</option>
                        <option value="南">南</option>
                        <option value="西">西</option>
                        <option value="北">北</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">特色</label>
                <div class="col-sm-10 clearfix">
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="近地铁" id="feature1">
                        <label class="form-check-label" for="feature1">
                            近地铁
                        </label>
                    </div>
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="集中供暖" id="feature2">
                        <label class="form-check-label" for="feature2">
                            集中供暖
                        </label>
                    </div>
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="精装修" id="feature3">
                        <label class="form-check-label" for="feature3">
                            精装修
                        </label>
                    </div>
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="随时入住" id="feature4">
                        <label class="form-check-label" for="feature4">
                            随时入住
                        </label>
                    </div>
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="公寓" id="feature5">
                        <label class="form-check-label" for="feature5">
                            公寓
                        </label>
                    </div>
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="押一付一" id="feature6">
                        <label class="form-check-label" for="feature6">
                            押一付一
                        </label>
                    </div>
                    <div class="form-check float-left mr-3">
                        <input class="form-check-input" type="checkbox" name="features" value="有电梯" id="feature7">
                        <label class="form-check-label" for="feature7">
                            有电梯
                        </label>
                    </div>
                </div>
            </div>
            <form action="/house/saveHouse" method="post">
                <input type="hidden" name="userId" id="userIdHidden" value="">
                <input type="hidden" name="houseCity" id="cityHidden" value="">
                <input type="hidden" name="houseDistrict" id="districtHidden" value="">
                <input type="hidden" name="houseAddress" id="addressHidden" value="">
                <input type="hidden" name="houseFloor" id="floorHidden" value="">
                <input type="hidden" name="housePrice" id="priceHidden" value="">
                <input type="hidden" name="houseMode" id="modeHidden" value="">
                <input type="hidden" name="houseType" id="typeHidden" value="">
                <input type="hidden" name="houseOrientation" id="orientationHidden" value="">
                <input type="hidden" name="houseFeatures" id="featuresHidden" value="">


                <input type="submit" class="btn btn-primary" value="提交" onclick="addHouse()">
            </form>
        </div>
        <label class="col-sm-1 col-md-2 col-lg-3"></label>
    </div>

    <script type="text/javascript">
        function addHouse() {
            var id = $('#userId').val();
            var HouseCity = $('#city').val();
            var houseDir = $('#houseDir').val();
            var houseAddress = $('#houseAddress').val();
            var houseFloor = $('#houseFloor').val();
            var housePrice = $('#housePrice').val();
            var houseMode = $("#houseMode").val();
            var houseType = $("#houseType").val();
            var houseOrientation = $('#houseOrientation').val();
            var houseFeaturesList = [];
            $("input[name='features']:checked").each(function () {
              houseFeaturesList.push($(this).val())
            });
            var houseFeatures = JSON.stringify(houseFeaturesList);

            $('#userIdHidden').val(id);
            $('#cityHidden').val(HouseCity);
            $('#districtHidden').val(houseDir);
            $('#addressHidden').val(houseAddress);
            $('#floorHidden').val(houseFloor);
            $('#priceHidden').val(housePrice);
            $('#modeHidden').val(houseMode);
            $('#typeHidden').val(houseType);
            $('#orientationHidden').val(houseOrientation);
            $('#featuresHidden').val(houseFeatures);
        }
    </script>
</div>

</body>
<script type="text/javascript" th:src="@{/js/jquery-3.5.0.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</html>